.main_board{
    width: 20%;
    margin: auto auto;
    margin-top: 10vh;
}

.square{
    width: 20%;
    height: 40px;
    box-sizing: border-box;
    border-style: solid;
    display: inline-block;
    top: 0%;
}

h1{
    text-align: center;
}