.main_board{
    width: 20%;
    margin: auto auto;
    margin-top: 10vh;
    background-color: red;
}

.square{
    width: 20%;
    height: 40px;
    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
    top: 0%;
}